/* GLOBAL */
html,body{
    font-family: 'Roboto Condensed', sans-serif;
}
.line::after{
    content: '';
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    left: 0;
    bottom: -1px;
    display: inline-block;
    transition: all 0.5s;
}

/* HEADER */
header{
    position: absolute;
    z-index: 2;
    top: 30px;
    /* Kết hợp left vs transform cho căng giữa position */
    left: 50%;
    transform: translateX(-50%);    
}
header p.phoneNumber{
    font-size: 14px;
}
#movieNavbar .navbar-nav{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#movieNavbar .nav-item {
    position: relative;
}
#movieNavbar .navbar-nav li.nav-item a.nav-link:hover{
    color: rgba(255,255,255,1);
}

#movieNavbar .nav-item.active::after,#movieNavbar .nav-item:hover::after{
    width: 100%;
}
.navbar-nav li.nav-item a.nav-link{
    font-size: 16px;
    color: white;
    opacity: 1;
    font-weight: 400;
    line-height: 0.8em;
    padding: 20px 24px;
    /* chỉnh padding right lại khi responsive */
    letter-spacing: 3px;
    text-transform: uppercase;
}


/* CAROUSEL */
#movieCarousel .carousel-item__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);

}
#movieCarousel .carousel-item{
    min-height: 600px;
}
#movieCarousel .carousel-caption{
    text-align: left;
    /* canh giữa thẻ position absolute */
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#movieCarousel .carousel-indicators{
    justify-content: flex-start;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    /* bị dư margin */
    margin-left: 0;
    margin-right: 0;
    /* thiếu padding */
    padding-right: 15px;
    padding-left: 15px;
}
#movieCarousel .carousel-indicators li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    opacity: 1;
    /* background-clip: border-box; */
}
#movieCarousel .carousel-indicators li.active{
    /* background-color:white */
    background: white;
}
#movieCarousel .carousel-caption .title{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}
#movieCarousel .carousel-caption h2{
    font-size: 52px;
    font-weight: 300;
    padding: 0;
    letter-spacing: 3px;

}
#movieCarousel .carousel-caption p{
    font-size: 18px;
    padding-right: 25%;
    margin-bottom: 20px;
}
.movieCarousel__trailer span{
    width: 48px;
    height: 48px;
    border: 2px solid white;
    line-height: 48px;
    font-size: 13px;
    font-weight: 700;
    margin-right: 8px;
}

.movieCarousel__trailer .btn-orange{
    /* position: relative; */
    background: linear-gradient(to right, #fbbd61, #ec7532);
    width: 200px;
    border-radius: 30px;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 11px 30px;
    cursor: pointer;
}
/* .button__trailer .button__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ec7532;
    transform: skewX(30deg) translateX(-50%);
    transition: all 0.5s;
} */


/* newIN */
.newIN{
    padding-top: 85px;
}
.newIN h2{
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ec7532;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
    position: relative;
}
.newIN h2.line::after{
    width: 125px;
}
.newIN__img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.newIN__play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
.newIN__play i{
    width: 80px;
    height: 80px;
    font-size: 14px;
    line-height: 76px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 15px auto;
}
.newIN__play a{
    font-size: 14px;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 15px;
}
.newIN__play span{
    opacity: 0.75;
    font-size: 16px;
}

.newIN__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform: skewX(30deg) translateX(-150%);
    /* dùng background hoặc background-image thì mới dùng được linear */
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
    opacity: 0.9;
    transition: all 0.5s;
}
.newIN__img:hover .newIN__overlay{
    transform: skewX(30deg) translateX(-30%);
}
.newIN__img:hover .newIN__play{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.newIN__movie p{
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10px;
}
i.movie__star{
    color: #fbbd61;
}
/* End newIN */

/* Show Time */
.showTimes .nav-tabs .nav-link{
    position: relative;
    color: #4a4a4a;
    padding: 10px 30px 15px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.showTimes .nav-tabs .nav-link.active{
    color: #ec7532;
}

.showTimes .nav-tabs .nav-link.active.line::after,.showTimes .nav-tabs .nav-link:hover.line::after{
    width: 100%;
}

.showTimes .nav-tabs .nav-item .nav-link, .nav-tabs .nav-link.active, .showTimes .nav-tabs .nav-link:hover{
    border: white;
}
#myTabShowTime{
    padding: 45px 0px;
}
.showtime__item{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d8d8d8;
}
.showtime__item img{
    border-radius: 10px;
}
.showtime__details > p{
    font-size: 16px;
    margin-bottom: 20px;
}
.showtime__details > span{
    font-size: 14px;
    color: #ec7532;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.showtime__details > h3{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #101010;
    margin-bottom: 10px;
}
.showtime__details > a{
    font-size: 12px;
    color: #ec7532;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.showtime__details > a:hover{
    color: #101010;
    text-decoration: none;
}
.showtime__list i, .showtime__list span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #4a4a4a;

}
.showtime__list .showtime__length span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}
.showtime__list button.btn-secondary{
    font-size: 14px;
    letter-spacing: 2px;
    color: #717171;
    background-color: #d8d8d8;
    border: transparent;
    cursor: text;
}
.showtime__list button.btn-secondary:focus{
    outline: none;
    border: none;  
    box-shadow: none;  
}
.showtime__list button .disabled{
    opacity: 0.5;
}


/* End Show Time */






/* contact */
.contact{
    padding: 50px 0px;
    text-align: center;
}
.contact p{
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #4a4a4a;
    letter-spacing: 1px;
}
.contact h2{
    font-size: 46px;
    font-weight: 400;
    color: #ec7532;
    letter-spacing: 1px;
}
/* end contact */

@media screen and (max-width: 576px){
    #myTabShowTime img{
        width: 100%;
    }
}
