/* GLOBAL */
html,body{
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
.line::after{
    content: '';
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    left: 0;
    bottom: -1px;
    display: inline-block;
    transition: all 0.35s;
}
/* magnific popup video */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
/*end magnific popup video */

/* HEADER */
header{
    position: absolute;
    z-index: 2;
    top: 30px;
    /* Kết hợp left vs transform cho căng giữa position */
    left: 50%;
    transform: translateX(-50%);    
}
header p.phoneNumber{
    font-size: 14px;
}
#movieNavbar .navbar-nav{
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#movieNavbar .nav-item {
    position: relative;
}
#movieNavbar .navbar-nav li.nav-item a.nav-link:hover{
    color: rgba(255,255,255,1);
}

#movieNavbar .nav-item.active::after,#movieNavbar .nav-item:hover::after{
    width: 100%;
}
.navbar-nav li.nav-item a.nav-link{
    font-size: 16px;
    color: white;
    opacity: 1;
    font-weight: 400;
    line-height: 0.8em;
    padding: 20px 24px;
    /* chỉnh padding right lại khi responsive */
    letter-spacing: 3px;
    text-transform: uppercase;
}
.navbar-nav>li>.dropdown-menu{
    margin-top: 1px;
    border-radius: 0px;
    display: block;
    padding: 0;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border: none;
    transform: scale(1.1);
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.navbar-nav>li.dropdown:hover .dropdown-menu{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.navbar-nav>li>.dropdown-menu a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px 10px;
    display: block;
    font-weight: 400;
    line-height: 0.8em;

}


/* CAROUSEL */
.movieCarousel{
    position: relative;
}
#movieCarousel .carousel-item__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);
}
#movieCarousel .carousel-item{
    min-height: 600px;
    overflow: hidden;
}
#movieCarousel .carousel-item img{
    min-height: 600px;
}
#movieCarousel .carousel-caption{
    text-align: left;
    /* canh giữa thẻ position absolute */
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#movieCarousel .carousel-indicators{
    justify-content: flex-start;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    /* bị dư margin */
    margin-left: 0;
    margin-right: 0;
    /* thiếu padding */
    padding-right: 15px;
    padding-left: 15px;
}
#movieCarousel .carousel-indicators li{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    opacity: 1;
    /* background-clip: border-box; */
}
#movieCarousel .carousel-indicators li.active{
    /* background-color:white */
    background: white;
}
#movieCarousel .carousel-caption .title{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}
#movieCarousel .carousel-caption h2{
    font-size: 52px;
    font-weight: 300;
    padding: 0;
    letter-spacing: 3px;

}
#movieCarousel .carousel-caption p{
    font-size: 18px;
    padding-right: 25%;
    margin-bottom: 20px;
}
.movieCarousel__trailer span{
    width: 48px;
    height: 48px;
    border: 2px solid white;
    line-height: 48px;
    font-size: 13px;
    font-weight: 700;
    margin-right: 8px;
}

.movieCarousel__trailer .btn-orange{
    /* position: relative; */
    background: linear-gradient(to right, #fbbd61, #ec7532);
    width: 200px;
    border-radius: 30px;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 11px 30px;
    cursor: pointer;
}
/* .button__trailer .button__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ec7532;
    transform: skewX(30deg) translateX(-50%);
    transition: all 0.5s;
} */
img.scroll{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    animation: ScrollDown 1.5s infinite;
}
@keyframes ScrollDown {
    0% {left: 50%;}
    50% {left: 50.5%;}
    100% {left: 50%;}
}

/* newIN */
.newIN{
    padding-top: 85px;
}
.newIN h2{
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ec7532;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
    position: relative;
}
.newIN h2.line::after{
    width: 125px;
}
.newIN__img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.newIN__play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
.newIN__play i{
    width: 80px;
    height: 80px;
    font-size: 14px;
    line-height: 80px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 15px auto;
    transition: all 0.5s;
    cursor: pointer;
    padding-left: 8px;
}
.newIN__play i:hover{
    transform: scale(0.8);
}
.newIN__play a{
    font-size: 14px;
    letter-spacing: 4px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 15px;
}
.newIN__play span{
    opacity: 0.75;
    font-size: 16px;
}

.newIN__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform: skewX(30deg) translateX(-150%);
    /* dùng background hoặc background-image thì mới dùng được linear */
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
    opacity: 0.9;
    transition: all 0.5s;
}
.newIN__img:hover .newIN__overlay{
    transform: skewX(30deg) translateX(-30%);
}
.newIN__img:hover .newIN__play{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.newIN__movie p{
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 10px;
}
i.movie__star{
    color: #fbbd61;
}
/* End newIN */

/* Show Time */
.showTimes{
    padding: 75px 0px 0px;
}
.showTimes .nav-tabs .nav-link{
    position: relative;
    color: #4a4a4a;
    padding: 10px 30px 15px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.showTimes .nav-tabs .nav-link.active{
    color: #ec7532;
}

.showTimes .nav-tabs .nav-link.active.line::after,.showTimes .nav-tabs .nav-link:hover.line::after{
    width: 100%;
}

.showTimes .nav-tabs .nav-item .nav-link, .nav-tabs .nav-link.active, .showTimes .nav-tabs .nav-link:hover{
    border: white;
}
#myTabShowTime{
    padding: 45px 0px 35px;
}
.showtime__item{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d8d8d8;
}
.showtime__item img{
    border-radius: 10px;
}
.showtime__details > p{
    font-size: 16px;
    margin-bottom: 20px;
}
.showtime__details > span{
    font-size: 14px;
    color: #ec7532;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.showtime__details > h3{
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #101010;
    margin-bottom: 10px;
}
.showtime__details > a{
    font-size: 12px;
    color: #ec7532;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.showtime__details > a:hover{
    color: #101010;
    text-decoration: none;
}
.showtime__list i, .showtime__list span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #4a4a4a;

}

.showtime__list .showtime__length span{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}
.showtime__list button.btn-secondary{
    font-size: 13px;
    padding: 7px 10px;
    letter-spacing: 2px;
    color: #717171;
    background-color: #d8d8d8;
    border: transparent;
    cursor: text;
}
.showtime__list button.btn-secondary:focus{
    outline: none;
    border: none;  
    box-shadow: none;  
}
.showtime__list button .disabled{
    opacity: 0.5;
}


/* End Show Time */

/* Coming soon */
.coming__bg{
    background: url(/img/slide-3.png);
    padding-top: 75px;
    position: relative;
}
.coming__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(51, 51, 51);
    opacity: 0.5;
}
.coming__bg h2{
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:white;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    position: relative
}
.coming__bg h2.line::after{
    width: 125px;
}
.coming__detail span{
    font-size: 14px;
    color: #ec7532;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.coming__detail h1{
    font-size: 34px;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}
.coming__detail p i.fa-star{
    color: #fbbd61;
    font-size: 14px;
    width: 14px;
}
.coming__detail .coming__date{
    font-size: 14px;
    opacity: .75;
    color: white;
    margin-left: 8px;
    text-transform: initial;
}
.coming__detail a{
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ec7532;
    transition: all 0.5s;
    text-decoration: none;
}
.coming__detail a:hover{
    color: #fbbd61;
}
.coming__trailer{
    position: relative;
}

.coming__trailer i{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 80px;
    height: 80px;
    line-height: 75px;
    font-size: 24px;
    text-align: center;
    color: white;
    border: 2px solid #ec7532;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.coming__trailer:hover  i{
    transform: translate(-50%, -50%) scale(0.9);
}
.movieList{
    padding: 55px 0px;
    background: black;
}
.movieList__item {
    text-align: center;
    cursor: pointer;
    opacity: 0.35;
    transition: all 0.5s;
}
.movieList__item:hover, .movieList__item.active{
    opacity: 1;
}
.movieList__item img{
    border-radius: 10px;
}
.movieList__item h5{
    font-size: 16px;
    overflow: hidden;
    margin-top: 20px;
}
.movieList__item p{
    font-size: 14px;
    opacity: 0.5;
}

/*End Coming soon */

/* contact */
.contact{
    padding: 50px 0px;
    text-align: center;
}
.contact p{
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #4a4a4a;
    letter-spacing: 1px;
}
.contact h2{
    font-size: 46px;
    font-weight: 400;
    color: #ec7532;
    letter-spacing: 1px;
}
/* end contact */


/* FOOTER */
footer{
    padding-top: 75px;
    background: #101010;
}
footer h6{
    font-size: 16px;
    color: #ec7532;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer a{
    color: white;
    padding: 3px 0;
    display: inline-block;
    letter-spacing: 1.5px;
    font-size: 13px;
    transition: all 0.5s;
}
footer a:hover{
    color: #fbbd61;
    text-decoration: none;
}
footer a i{
    width: 25px;
    color: rgba(255,255,255,.3);
    transition: all 0.5s;
}
footer a:hover i{
    color: #fbbd61;
}
footer .copyright{
    margin-top: 50px;
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 20px 15px;
    font-size: 14px;
}
footer .copyright a:hover{
    color: #ec7532;
}

/*END FOOTER */

@media screen and (max-width: 576px){
    #myTabShowTime img{
        width: 100%;
    }
    .container {
        padding: 15px;
    }

    /* chỉnh showtimes nav-item */
    .showTimes .nav-tabs .nav-link{
        font-size: 16px;
    }
    .showTimes .nav-tabs .nav-link{
        font-size: 16px;
    }
    .showTimes .nav-tabs .nav-link.line::after{
        width: 4px;
        height: 0%;
        background-image: linear-gradient(to bottom, #fbbd61, #ec7532);        
    }
    .showTimes .nav-tabs .nav-link.active.line::after,.showTimes .nav-tabs .nav-link:hover.line::after{
        height: 100%;
        width: 4px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    footer h6{
        font-size: 14px;
    }
    .showTimes .nav-tabs .nav-link{
        font-size: 16px;
    }
}

/* chỉnh showtimes nav-item cho không bị rớt hàng */
@media screen and (min-width: 576px) and (max-width: 768px){
    .showTimes .nav-tabs .nav-link{
        padding: 10px 20px 15px;
        font-size: 16px;
    }
    .container {
        padding: 15px;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 768px;
    }
    .row{
        margin: 0 -15px;
    }
    .coming__detail h1{
        font-size: 32px;
    }
    .coming__detail .coming__date{
        font-size: 14px;
        letter-spacing: 0px;
    }
    .coming__detail p{
        font-size: 16px;
    }
    .coming__trailer img{
        margin-top: 40px;
    }
}


@media screen and (max-width: 768px){
    /* chỉnh header */
    nav.navbar>.navbar-brand>img{
        max-width: 150px;
    }
    .navbar-collapse{
        margin: 0px -15px;
    }
    .navbar-collapse>ul{
        background: rgba(0,0,0,.9);
    }
    #movieNavbar .nav-item.active::after{
        width: 0;
    }
    #movieNavbar .nav-item.active:hover::after{
        width: 100%;
    }
    #movieNavbar .navbar-nav li.nav-item.active a.nav-link:hover{
        color: #ec7532;
    }
    button.navbar-toggler{
        outline: none;
        padding-right: 0px;
    }
    button.navbar-toggler span{
        color: #fbbd61;
    }
    .navbar-nav li.nav-item a.nav-link{
        font-size: 14px;
        text-align: center;
        padding: 15px;
    }
    #movieNavbar .nav-item.active a.nav-link{
        color: #ec7532;
    }
    .navbar-nav>li>.dropdown-menu{        
        padding: 25px 10px;
        display: block;
        background: rgba(236, 118, 50, 0.8);
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    .navbar-nav>li>.dropdown-menu a{
        color: white;
        font-size: 12px;
        text-align: center;
        padding: 0px;
    }
    button.navbar-toggler .icon-bar{
        display: block;
        width: 22px;
        height: 2px;
        background: #fbbd61;
        margin-top: 4px;
    }


}
